﻿@model IEnumerable<Habercim.Models.Begeni>

@{
    ViewBag.Title = "Beğenilen Haberler";
    ViewBag.Baslik = "BEĞENDİKLERİM";
}

@if (ViewBag.Mesaj == "var")
{
    foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@item.Haber.Resim" style="width:300px;height:300px" alt="">
                        <p>@item.Haber.Baslik</p>
                        <a href="~/Home/Haberler/@item.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-eye-open"></i>Haberi Göster</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@item.Haber.Baslik</h2>
                            <p>@item.Haber.Aciklama</p>
                            <a href="~/Home/Haberler/@item.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-eye-open"></i>Haberi Göster</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}
@if (ViewBag.Mesaj == "Henüz Hiç Bir Haberi Beğenmediğiniz.")
{
    <h2>@ViewBag.Mesaj</h2>
}
