﻿@model IEnumerable<Habercim.Models.Yorum>
@{
    var haber = ViewBag.Haber;
    ViewBag.Title = "Anasayfa";
    ViewBag.Baslik = ViewBag.Baslik + " Haberleri";
}
<h2>@haber.Baslik</h2>
<br />
<h4>@haber.Aciklama</h4>
<br />
<img src="@haber.Resim" style="width:500px;height:300px" alt="">
<br />
<p>@haber.Metin</p>

@if (ViewBag.Durum == "Begenildi")
{
    using (Html.BeginForm("YorumYap", "Home", new { id = haber.HaberId }))
    {
        <p>
            Yorum Yap: @Html.TextBox("Yorum")
            <input type="submit" value="Yorum Yap" />
        </p>
    }
    <a href="~/Home/BegenmeVazgec/@haber.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-heart"></i>Beğenmekten Vazgeç</a>

}
else if (ViewBag.Durum == "Begenilmedi")
{
    using (Html.BeginForm("YorumYap", "Home",new {id=haber.HaberId }))
    {
        <p>
            Yorum Yap: @Html.TextBox("Yorum")
            <input type="submit" value="Yorum Yap" />
        </p>
    }
    <a href="~/Home/Begenme/@haber.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-heart-empty"></i>Haberi Beğen</a>

}
@if(ViewBag.Durum=="Giriş Yapılmadı")
{
    <p>Yorum ve Beğeni Yapabilmek İçin Lütfen Üye Olunuz.</p>
}
@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <h4>@item.Kullanici.AdSoyad</h4>
        <h5>@item.Metin</h5>
        <p>@item.Tarih</p>

        <br />
    }
}
else { 
    <h4>Henüz Yorum Yok</h4>
}
