﻿@model IEnumerable<Habercim.Models.Haber>

@{
    ViewBag.Title = "Anasayfa";
    ViewBag.Baslik = ViewBag.Baslik + " Haberleri";
}


@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@item.Resim" style="width:300px;height:300px" alt="">
                    <p>@item.Baslik</p>
                    <a href="~/Home/Haberler/@item.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-eye-open"></i>Haberi Göster</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@item.Baslik</h2>
                        <p>@item.Aciklama</p>
                        <a href="~/Home/Haberler/@item.HaberId" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-eye-open"></i>Haberi Göster</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}