﻿@model Habercim.Models.Yorum

@{
    ViewBag.Title = "Yorum Sil";
}

<h2>Yorum Sil</h2>

<h3>Bu yorumu silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Yorumlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Haber.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haber.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Yorumlara Geri Dön", "Index")
        </div>
    }
</div>
