﻿@model IEnumerable<Habercim.Models.Yorum>

@{
    ViewBag.Title = "Yorumlar";
}

<h2>Yorumlar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Haber.Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Haber.Resim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metin)
        </td>
        <td>
            @Html.ActionLink("Detaylar", "Details", new { id=item.YorumId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.YorumId })
        </td>
    </tr>
}

</table>
