﻿@model IEnumerable<Habercim.Models.Kullanici>

@{
    ViewBag.Title = "Kullanıcılar";
}

<h2>Kullanıcılar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
    </tr>

@foreach (var item in Model)
{
    if (item.KullaniciId != 1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>

        </tr>
    }

}

</table>
