﻿@model IEnumerable<Habercim.Models.Manset>

@{
    Layout = null;
    var resimSayisi = 0;
}



<div id="myCarousel" class="carousel slide"  style="height:360px;width:1024px;margin-left:auto;margin-right:auto;" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }

        }

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">


        @foreach (var haber in Model)
        {
            if (resimSayisi == 0)
            {
                <div class="item active">
                    <a href="~/Home/Haberler/@haber.HaberId">
                        <img src="@haber.Haber.Resim" style="width:825px;height:360px">
                    </a>
                    <div class="carousel-caption">
                        <h3 style="color:#FE980F">@haber.Haber.Baslik</h3>
                    </div>  </div>

                    resimSayisi++;
            }
            else
            {
                <div class="item">  
                    <a href="~/Home/Haberler/@haber.HaberId">
                        <img src="@haber.Haber.Resim" style="width:825px;height:360px">
                    </a>
                    <div class="carousel-caption">
                        <h3 style="color:#FE980F">@haber.Haber.Baslik</h3>
                    </div>  </div>

                    resimSayisi++;
            }

           
        }

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>

</div>
