﻿@model Habercim.Models.Tur

@{
    ViewBag.Title = "Tür Sil";
}

<h2>Tür Sil</h2>

<h3>Bu türü silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Türler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TurAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurAd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Türlere Geri Dön", "Index")
        </div>
    }
</div>
