﻿@model IEnumerable<Habercim.Models.Tur>

@{
    ViewBag.Title = "Haber Türleri";
}

<h2>Haber Türleri</h2>

<p>
    @Html.ActionLink("Yeni Tür Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TurAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TurAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.TurId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.TurId })
        </td>
    </tr>
}

</table>
