﻿@model Habercim.Models.Manset

@{
    ViewBag.Title = "Manşet Sil";
}

<h2>Manşet Sil</h2>

<h3>Bu manşeti silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Manşet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Haber.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haber.Resim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Manşetlere Geri Dön", "Index")
        </div>
    }
</div>
