﻿@model IEnumerable<Habercim.Models.Manset>

@{
    ViewBag.Title = "Manşetler";
}

<h2>Manşetler</h2>

<p>
    @Html.ActionLink("Manşet Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Haber.Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Haber.Resim)
        </td>
        <td>
            @Html.ActionLink("Sil", "Delete", new { id=item.MansetId })
        </td>
    </tr>
}

</table>
