﻿@{
    Layout = null;
}
@if (ViewBag.AdSoyad != null) {
<div class="col-sm-8">
    <div class="shop-menu pull-right">
        <ul class="nav navbar-nav">
            <li><a href="~/Home/Begendiklerim"><i class="glyphicon glyphicon-heart"></i> Beğendiklerim</a></li>
            <li><a href="~/Account/LogOff"><i class="glyphicon glyphicon-log-out"></i>@ViewBag.AdSoyad - Çıkış Yap</a></li>
        </ul>
    </div>
</div>
}
@if (ViewBag.AdSoyad == null)
{
    <div class="col-sm-8">
        <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
                <li><a href="~/Account/Register"><i class="glyphicon glyphicon-send"></i>Üye Ol</a></li>
                <li><a href="~/Account/Login"><i class="glyphicon glyphicon-log-in"></i>Giriş Yap</a></li>
            </ul>
        </div>
    </div>
}